.cat {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-style {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 200px;
    margin-right: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.div-style:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.add-button {
    margin-top: 5px;
    background-color: rgb(79, 79, 255);
    color: white;
    width: 110px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.add-button:hover {
    opacity: 0.8;
}

.name-css {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.mutual-friends {
    margin-top: 0px;
    margin-bottom: 7px;
    font-weight: lighter;
    color: rgb(131, 129, 129);
    margin-left: 10px;
}