    .name-input {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        font-family: Arial;
        font-size: 18px;
        padding-left: 15px;
        padding-right: none;
    }

    .email-input {
        font-family: arial;
        font-size: 18px;
        display: block;
        margin-top: 10px;
        width: 325px;
        height: 40px;
        border-radius: 10px;
        padding-left: 15px;
    }

    .signup-button {
        font-family: arial;
        margin-top: 10px;
        width: 345px;
        height: 45px;
        border-radius: 10px;
        background-color: rgb(93, 93, 255);
        color: white;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 3px;

    }