.main-div {
    width: 500px;
    display: block;
    padding: 15px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    font-family: arial;
    margin-bottom: 20px;
}

.profile-div {
    display: inline-block;
    width: 80px;
    vertical-align: top;
}

.profile {
    width: 65px;
    height: 65px;
    border-radius: 50%;

}

.profile-info {
    width: 250px;
    display: inline-block;
    vertical-align: middle;
}

.name-div {
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 3px;
}

.related-name-div {
    color: rgb(90, 90, 90);
    padding-left: 5px;
    margin-bottom: 3px;
}

.content-div {
    color: rgb(90, 90, 90);
    padding-left: 5px;
}

.follow-button {
    display: inline-block;
    vertical-align: middle;
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}