.outer-div {
    font-family: arial;
    display: block;
    width: 700px;
    border: 0px solid #ccc;
    padding: 3px;
    border-radius: 7px;
}

.thumnail-div {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.thumnail-img {
    display: inline-block;
    width: 250px;
    border-radius: 10px;
}

.video-info-div {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin-left: 5px;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 14px;
}

.video-author {
    color: rgb(146, 146, 146);
    margin-bottom: 7px;
}

.video-stat {
    color: rgb(146, 146, 146);

}