.container-grid {
    width: 300px;
    padding: 15px;
    background: #f5f5f5;
    ;
    border-radius: 12px;
    font-family: arial;
}

.container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    font-size: 18px;

}

.messages-number {
    background: #275df6;
    color: white;
    padding: 4px 12px;

    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}