.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a255e2;  
    padding: 12px 20px;
    font-family: Arial;
}

.home {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 60%;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 15px;
}

.download-button {
    background: transparent; 
    border: 1px solid #c8b1dd;
    padding: 8px 18px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}