.cat1 {
    width: 200px;
    border-radius: 15px;
    margin-top: 20px;

}

.cat2 {
    width: 200px;
    margin-top: 20px;

}

.cat3 {
    width: 200px;
    margin-top: 20px;
    border-radius: 50%;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
}

.google-search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25);
}

.linkedin-div {
    font-size: 18px;
    font-family: arial;
}

.linked-in {
    margin-top: 3px;
    margin-bottom: none;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25);
}

.button-agree {
    margin-top: none;
    margin-bottom: 10px;
    background-color: rgb(73, 73, 248);
    color: white;
    width: 450px;
    height: 50px;
    border-radius: 30px;
    font-size: 19px;
}

.twitter-text-box {
    display: flex;
    align-items: center;
    background: white;
    padding: 8px 12px;
    border-radius: 25px;
    width: 350px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.twitter-pp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.twitter-search-bar {
    border: none;
    outline: none;
    font-size: 15px;
}

.tweet-button {
    background: #1DA1F2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
}