.tahoma-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.arial-font{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}

.div-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.margin-h1{
    margin-bottom: 0px;

}

.margin-span{
    font-weight: 7px;
    color: rgb(148, 148, 148);
    font-size: large;
    margin-top: 0px;
    font-size: 27px;
}

.div-margin{
    margin-top: 25px;
    font-size: 29px;
    margin-bottom: 20px;
}

.get-started-button{
    background-color: rgb(29, 145, 29);
    color: white;
    padding: 8px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.div-d{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.div-d2{
    font-size: 20px;
    padding-bottom: 15px;
}

.a-d{
    color: rgb(61, 61, 255);
    text-decoration: none;
    font-size: 18px;
}

.a-d:hover{
    text-decoration: underline;
    cursor: pointer;

}