body {
    height: 3000px;
    padding-top: 60px;
    padding-left: 80px;
}

.header-div {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.sidebar-div {
    background-color: green;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 72px;
}

.absloute {
    position: absolute;
    color: white;
    background-color: red;
    right: 10px;
    top: 60px;
}

.x-button {
    position: absolute;
    color: white;
    background-color: red;
    right: 0;
    top: 0;
}


.div1 {
    background-color: lightblue;
    height: 200px;
    width: 200px;
}

.div2 {
    background-color: lightpink;
    height: 200px;
    width: 200px;
    position: relative;
}


.time-of-video {
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0);
    right: 0;
    bottom: 0;

}