body {
    background-color: rgb(0, 0, 0);
    font-family: arial;
}

.number-buttons {
    border: none;
    background-color: rgb(66, 66, 66);
    font-size: 26px;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin-right: 5px;
    cursor: pointer;
}

.operation-buttons {
    border: none;
    background-color: orange;
    font-size: 20px;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.clear-button {
    font-size: 16px;
}

.calculation {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 45px;
    color: white;
}